<style>
  .loaderr {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>

<!--Wrapper Start-->
<div id="wrapper">

  <!--Header Start-->
  <header class="header">
    <!-- navbar start-->
    <app-nav></app-nav>
    <!-- navbar end-->
  </header>
  <!--Header End-->

  <!--Content Start-->
  <section class="content">
    <div class="loaderr">
      <mat-spinner  *ngIf="loader" color="warn"></mat-spinner>
      <mat-progress-bar  *ngIf="loader" mode='indeterminate'></mat-progress-bar>
    </div>
  
    <div *ngIf="!loader">
      <router-outlet></router-outlet>
    </div>
  </section>
  <!--Content End-->

  <!--Footer Start-->
  <app-footer></app-footer>
  <!--Footer End-->
</div>
<!--Wrapper End-->